venv
venv/
miniconda/
miniconda
*.db
flat.txt
flatten_files_for_gpt.py
flatten_all_files_for_gpt.py
.vscode/
.vs
.vs/
.vs/*
vscode
.env
app/__pycache__
app/__pycache__/*
app/tools/__pycache__
app/tools/__pycache__/*
data
data/*
db/
db/*
stop_venv.bat