crewai
git+https://github.com/strnad/crewAI-tools.git
langchain
langchain-community
langchain-openai
langchain-groq
langchain-anthropic
streamlit
python-dotenv
agentops
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
