crewai
crewai-tools
langchain
langchain-community
langchain-openai
langchain-groq
langchain-anthropic
langchain-ollama
streamlit
python-dotenv
pdfminer.six
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
